{% extends "admin/layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            {% if not tag %}
                <form method="post" action="{{ url_for('admin.add_tag') }}">
                <h2>Add tag</h2>
            {% else %}
                <form method="post" action="{{ url_for('admin.edit_tag', tag_id=tag.id) }}">
                <h2>Edit tag : {{ tag.id }}</h2>
            {% endif %}
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" type="text" name="name" class="form-control" value="{{ tag.name }}">
                </div>
                <div class="form-group">
                    <label for="color">Color</label>
                    <input id="color" type="text" name="color" class="form-control" value="{{ tag.color }}">
                </div>
                {% if not tag %}
                    <input class="btn btn-success" type="submit" value="Add">
                {% else %}
                    <input class="btn btn-warning" type="submit" value="Edit">
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}