{% extends "admin/layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <form method="post" action="{{ url_for('admin.edit', sha256=sample.sha256) }}">
                <h2>Edit sample : {{ sample.sha256 }}</h2>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" type="text" name="name" class="form-control" value="{{ ', '.join(sample.name) }}">
                </div>
                <div class="form-group">
                    <label for="mime">MIME</label>
                    <input id="mime" type="text" name="mime" class="form-control" value="{{ sample.mime }}">
                </div>
                <div class="form-group">
                    <label for="first_analysis">First Analysis</label>
                    <input id="first_analysis" type="text" name="first_analysis" class="form-control"
                           value="{{ sample.first_analysis }}">
                </div>
                <div class="form-group">
                    <label for="last_analysis">Last Analysis</label>
                    <input id="last_analysis" type="text" name="last_analysis" class="form-control"
                           value="{{ sample.first_analysis }}">
                </div>
                <div class="form-group">
                    <label for="tags">Tags</label>
                    <div>
                        {% for tag in tags %}
                            <input id="tag_{{ tag.name }}" type="checkbox" name="tag_{{ tag.id }}"{% if tag in sample.tags %}
                                   checked="checked"{% endif %}><label for="tag_{{ tag.name }}">{{ tag | safe }}</label>
                        {% endfor %}
                    </div>
                </div>
                <input class="btn btn-warning" type="submit" value="Edit">
            </form>
        </div>
    </div>
{% endblock %}
