<div class="col-md-3 left_col">
    <div class="left_col scroll-view">

        <div class="navbar nav_title" style="border: 0;">
            <a href="{{ url_for('admin.index') }}" class="site_title"><span>MOWR</span></a>
        </div>
        <div class="clearfix"></div>
        <!-- /menu prile quick info -->

        <br/>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

            <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                    <li><a href="{{ url_for('admin.index') }}"><i class="fa fa-home"></i> Dashboard </a>
                    </li>
                </ul>
                <ul class="nav side-menu">
                    <li><a href="{{ url_for('admin.samples') }}"><i class="fa fa-file"></i> Samples </a>
                    </li>
                </ul>
                <ul class="nav side-menu">
                    <li><a href="{{ url_for('admin.whitelist') }}"><i class="fa fa-upload"></i> Upload whitelist </a>
                    </li>
                </ul>
                <ul class="nav side-menu">
                    <li><a href="{{ url_for('admin.tags') }}"><i class="fa fa-tags"></i> Manage tags </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Go back to the website"
               href="{{ url_for('default.index') }}">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title=""
               href="#">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title=""
               href="#">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="{{ url_for('admin.logout') }}">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>

<!-- top navigation -->
<div class="top_nav">

    <div class="nav_menu">
        <nav class="" role="navigation">
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
        </nav>
    </div>

</div>
<!-- /top navigation -->