{% extends "admin/layout.html" %}
{% block content %}
    <h2>Tags</h2>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>Tag name</td>
                <td>Tag color</td>
                <td>Result</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
            </thead>
            <tbody>
            {% for tag in tags %}
                <tr>
                    <td>{{ tag.name }}</td>
                    <td>{{ tag.color }}</td>
                    <td>{{ tag|safe }}</td>
                    <td><a href="{{ url_for('admin.edit_tag', id=tag.id) }}"><span
                            class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a href="{{ url_for('admin.delete_tag', id=tag.id) }}"><span
                            class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('admin.add_tag') }}" class="btn btn-success">Add a tag</a>
    </div>
{% endblock %}
