# Uploaded files (samples) location
UPLOAD_FOLDER = '/tmp/uploads'
# Max size of the samples
MAX_CONTENT_LENGTH = 5191680 # 5 Mo
# Path to pmf (if not in $PATH)
PMF_PATH = '/home/antide/stage/php-malware-finder/php-malware-finder'
# Administration interface credentials
ADMIN_LOGIN = 'mowr_admin'
ADMIN_PASSWORD = 'mowrpass'
# File types analysis (the first one will be used as defaults)
FILE_TYPES = ['PHP', 'ASP']
# Database information
SQLALCHEMY_DATABASE_URI = 'postgresql://mowr:mowr@localhost/mowr'
SQLALCHEMY_TRACK_MODIFICATIONS = True
#SQLALCHEMY_ECHO = True
