body {
    font-family: 'Montserrat','Helvetica Neue',Arial,sans-serif;
    color: #001A33;
}

.dropzone .btn-input {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-bottom: 20px;
    border: 3px dashed #ccc;
    border-radius: 5px;
}

.center {
    text-align: center;
}

.clean {
    color: green;
    font-weight: bold;
}

.alert-small {
    display: inline-block;
}