{% extends "layout.html" %}
{% block content %}

    <div class="row">
        <div class="col-md-2 col-sm-4">
            <span class="name"><span class="glyphicon glyphicon-file"></span>Total Samples</span>
            <span class="value">{{ stats.get('file_number') }}</span>
        </div>
        <div class="col-md-2 col-sm-4">
            <span class="name"><span class="glyphicon glyphicon-floppy-disk"></span>Size on hard drive</span>
            <span class="value">{{ '{:,d}'.format(stats.get('file_size')) }} bytes</span>
        </div>
    </div>
{% endblock %}

