{% extends "layout.html" %}
{% block content %}
    <div class="center">
        <h1 class="title">Welcome on MOWR !</h1>
        <h3>More Obvious Web-malware Repository</h3>
        <form action="{{ url_for('default.upload') }}" method="post" enctype="multipart/form-data" class="dropzone"
              id="dropzone">
            <span class="btn btn-file">
            Drop a file here or click to browse
                <input type="file" name="file" class="btn-input" id="dropzone-file">
            </span>
            <input onclick="hashFile()" type="button" value="Upload" class="btn btn-info btn-lg">
        </form>
    </div>
{% endblock %}

