<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="{{ url_for('.static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('.static', filename='css/mowr.css') }}" rel="stylesheet">
    <title>MOWR</title>
</head>

<body class="bg-faded">
<!-- Navbar static top -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('default.index') }}">MOWR</a>
        </div>
        <div class="navbar-collapse collapse">

            <!-- Left nav -->
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('default.search_page') }}">Search</a></li>
                <li><a href="{{ url_for('default.documentation') }}">Documentation</a></li>
                {% if session.get('login') != None %}
                    <li><a href="{{ url_for('admin.index') }}">Administration</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container -->
</div>

<!-- Flash message -->
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ url_for('default.static', filename='js/jquery.min.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('default.static', filename='js/bootstrap.min.js') }}"></script>
<!-- Custom scripts -->
<script src="{{ url_for('default.static', filename='js/sha256.js') }}"></script>
<script src="{{ url_for('default.static', filename='js/mowr.js') }}"></script>
<script src="{{ url_for('default.static', filename='js/common.js') }}"></script>
{% block script %}
{% endblock %}
</body>
</html>

