<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="/static/css/mowr.css" rel="stylesheet">
        <title>MOWR</title>
    </head>

    <body class="bg-faded">
        <!-- Navbar static top -->
        <div class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('index') }}">MOWR</a>
                    </div>
                    <div class="navbar-collapse collapse">

                    <!-- Left nav -->
                    <ul class="nav navbar-nav">
                    <li><a href="#">Waoh</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container -->
        </div>

        <div class="container">
        {% block content %}
        {% endblock %}
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/static/js/bootstrap.min.js"></script>
        <!-- Custom scripts -->
        <script src="/static/js/sha256.js"></script>
        <script src="/static/js/mowr.js"></script>
    </body>
</html>

