{% extends "layout.html" %}
{% block content %}
    <h1>Search</h1>
    <div class="input-group col-md-8">
        <form method="post" action="{{ url_for('default.search_page', page=1) }}">
            <div>
                <div class="input-group col-md-12">
                    <input type="text" id="search-samples" name="search" class="form-control input-lg"
                           placeholder="Search for hash, filename, ..."/>
                        <span class="input-group-btn">
                            <label for="search-submit" class="btn btn-info btn-lg"><i
                                    class="glyphicon glyphicon-search"></i></label>
                            <input id="search-submit" type="submit" class="hidden" value="">
                        </span>
                </div>
            </div>
        </form>
    </div>
    <br/>
    <div class="row">
        <div id="search-result">
            {% include "search_result.html" %}
        </div>
    </div>
{% endblock %}
