{% extends "layout.html" %}
{% block content %}
    Scan result:
    <table class="table table-bordered">
        {% for file in files %}
            <tr>
                <td>
                    <a href="{{ url_for('default.analysis', sha256=file['sha256'], type='any') }}">{{ file['sha256'] }}</a>
                </td>
                <td>
                    {% for tag in file.tags %}
                        {{ formatTag(tag)|safe }}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <a href="{{ url_for('default.index') }}"><span class="btn btn-info">Upload a new file</span></a>
{% endblock %}
